<ul class="nested">
  {% for item in include.collection %}
    {% if item.library %}
      {% include linkcollection.html collection=item.library %}
    {% elsif item.collection %}
      <li><span class="caret">{{ item.title }}</span> (DEBUG: Collection)
      {% include linkcollection.html collection=item.collection %}
    {% else %}
      <li><a href="{{ item.url }}">{{ item.title }}</a> (DEBUG: Link)
    {% endif %}
    {% unless item.library %}
      </li>
    {% endunless %}
  {% endfor %}
</ul>
